body{
    text-align: center;
}

.scroll{
    -ms-overflow-style: none; /*익스플로러,엣지*/
    scrollbar-width: none; /*파이어폭스*/
    }

::-webkit-scrollbar {
    display: none;  /*크롬,사파리,오페라*/
    }

html {
    background-color: #677386;
}

h1 {
    display: block;
    font-size: 70px;
    margin-top: 110px;
    text-align: center; 
    font-weight: bold;
    width: 320px;
    height: 90px;
}
h1 span:nth-child(1){
    color: #000000;
}
h1 span:nth-child(2){
    color: #fffb00;
}
h1 span:nth-child(3){
    color: #4285f4;
}
h1 span:nth-child(4){
    color: #1be75f;
}
h1 span:nth-child(5){
    color: #000000;
}
h1 span:nth-child(6){
    color: #000000;
}

.form1 {
    display:block;
    text-align: center;
    margin: 0 auto;
    /* width: 0 auto; */
    width: 80%;;
    height: 50%;
    border: none;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
}

#blank {
    display: inline-flex;
    /* margin-top: 7px; */
    text-align: center;
    width: 92%;
    height: 35px;
    border: solid 1px;
    border-color:white;
    border-radius: 24px;
    
}

#submit {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 25px;
    height: 100%;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2866/2866321.png');
    background-size:100% 100% ;
    background-color: white;
    border:none;
    margin-right:10px;
}

.test {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: none;
    font-weight: bold;
    background-color: #f0f0f0;
}



/* 버튼추가 */
/* #boxWrap {
    width: auto;
    height: auto;
}

#boxWrap:after {
    content:"";
    display:block;
    clear:both;
}

#boxWrap p+p{margin-left: 5px;}

#boxWrap .original {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #677386;
    text-align: center;
    line-height: 100px;
}

.btnWrap{width:100%;} */

.btnBox {margin: 65px auto 0;}